*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://i.pinimg.com/originals/1a/e1/41/1ae1419b5da7435912e519be58e95ff4.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s;
    overflow: hidden;
}
.container{
    position: relative;
    width: 400px;
    height: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    transition: height .6s ease;

    /* width: 90%;
    max-width: 470px;
    backdrop-filter: blur(30px);
    background: transparent;
    color: #fff;
    border: 0.1px solid #dddddd67;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center; */
}
.search{
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    
    /* width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; */
}
.search i{
    position: absolute;
    left: 10px;
    font-size: 28px;
}
.search input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0088ff34;
    /* background: transparent; */
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;

    /* border: 0;
    outline: 0;
    background: transparent;
    border: solid 0.2px #dddddd67;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px; */
}
.search input::placeholder{
    color: #fff;
    text-transform: capitalize;
}
.search button{
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    padding: 0 40px 0 5px;
    cursor: pointer;

    /* border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer; */
}
.search button img{
    width: 16px;
}

.weather{
    text-align: center;
    margin: 40px 0;
}
.weather img{
    width: 60%;
}
.weather .temp{
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
}
.weather .city{
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
/* .weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
} */




.details{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}
.col{
    display: flex;
    align-items: center;
    width: 50%;
}
.col i{
    font-size: 56px;
    margin-right: 5px;
}
/* .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
} */
/* .col{
    display: flex;
    align-items: center;
    text-align: left;
} */
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 25px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    /* text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none; */

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
    display: none;
}
.error img{
    width: 65%;
}
.error p{
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}